#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "r0nsha"
email = "r0nsh4v1t@gmail.com"

[ui]
default-command = "log"
pager = ["delta", "--pager", "less -FRX"]
diff-formatter = ":git"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
should-sign-off = true

[[--scope]]
--when.commands = ["diff", "show"]

[--scope.ui]
pager = "delta"

[git]
auto-local-bookmark = false
push-new-bookmarks = false
# Prevent pushing work in progress or anything explicitly labeled "private"
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"

[templates]
git_push_bookmark = '"ron/" ++ change_id.short()'
draft_commit_description = '''
concat(
  coalesce(description, default_commit_description, "\n"),
  if(
    config("ui.should-sign-off").as_boolean() && !description.contains("Signed-off-by: " ++ author.name()),
    "\nSigned-off-by: " ++ author.name() ++ " <" ++ author.email() ++ ">\n",
  ),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.stat(72)),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
  "-c",
  "let g:jj_diffconflicts_marker_length=$marker_length",
  "-c",
  "JJDiffConflicts!",
  "$output",
  "$base",
  "$left",
  "$right",
]
merge-tool-edits-conflict-markers = true

[commit]
verbose = true

[aliases]
retrunk = ["rebase", "-d", "trunk()"]
d = ["diff"]
e = ["edit"]
n = ["new"]
i = ["git", "init", "--colocate"]
# Rebase
r = ["rebase"]
s = ["squash"]
si = ["squash", "--interactive"]
# List my branches
mine = ["bookmark", "list", "-r", "mine()"]
# List all branches
branches = ["log", "-r", "heads(all())"]
res = ["resolve", "--tool", "diffconflicts"]
pmine = ["git", "push", "-b", "glob:ron/*"]
l = [
  "log",
  "-r",
  "@ | ancestors(trunk()..(visible_heads() & mine()), 2) | trunk()",
]
la = ["log", "-r", "all()"]
