(
    max_notifications: 10,
    timeout: 10000,
    poll_interval: 8.0,
    shortcuts: (
        notification_interact: 2,
        notification_close: 1,
        notification_closeall: 3,
    ),
    history_length: 100,
    replacing_resets_timeout: true
)
