[submodule "gtk/Kanagawa-GTK-Theme"]
	path = gtk/Kanagawa-GTK-Theme
	url = https://github.com/Fausto-Korpsvart/Kanagawa-GKT-Theme.git
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/r0nsha/wallpapers.git
