nvim/lua/local.lua
wget-log*
.venv
__pycache__
qutebrowser/autoconfig.yml
qutebrowser/qsettings
tmux/plugins
fish/completions
fish/conf.d
fish/fish_variables*
jj/conf.d
jj/repos
kitty/current_theme.conf
glide/glide
waybar/style.css
