@import url('file:///home/ron/.cache/hellwal/waybar.css');

* {
	font-family: Iosevka Nerd Font Propo;
	font-weight: bold;
	font-size: 14px;
}

window#waybar {
    all: unset;
    color: @color7;
}

tooltip {
	background: @background-opaque;
	border: 1px solid @border;
    border-radius: 0;
    padding: 0px;
}

#submap,
#workspaces,
#tray,
#mpris,
#idle_inhibitor,
#privacy,
#gamemode,
#language,
#pulseaudio,
#bluetooth,
#network,
#clock,
#hardware {
    margin-top: 8px;
    margin-left: 8px;
    padding: 4px 8px;
    background: @background;
	border: 1px solid @border;
}

#hardware {
    margin-right: 8px;
}

#submap {
    background: @color4-alpha;
    color: @background-opaque;
}

#workspaces button {
	all: unset;
	min-width: 0;
	padding: 0px 8px;
	color: @color5;
}

#workspaces button.active {
	color: @color15;
}

#workspaces button.urgent {
	color: @color14;
}

#tray menu {
    background: @background-opaque;
    border: 1px solid @border;
    color: @color7;
    border-radius: 0;
}

#mpris {
    opacity: 0;
}

#mpris.playing {
    opacity: 1;
    color: @color15;
}

#mpris.paused, #mpris.stopped {
    opacity: 1;
    color: @color6;
}

#privacy {
    background: @color14-alpha;
    color: @background-opaque;
}

#gamemode {
    padding: 4px 4px 4px 8px;
}

#idle_inhibitor.deactivated {
    color: @color6;
}

#idle_inhibitor.activated {
    background: @color13;
    color: @background-opaque;
}

#pulseaudio.bluetooth {
    color: @color4;
}

#pulseaudio.muted {
    color: @color6;
}

#network.disabled {
    color: @color6;
}

#network.disconnected {
    color: @color14;
}

#battery, #cpu, #memory {
    margin-right: 8px;
}

#temperature.critical {
    color: @color14;
}

#battery.charging {
    color: @color11;
}

#battery.warning {
    color: @color13;
}

#battery.critical {
    color: @color14;
}
