@define-color bg0-opaque #000000;
@define-color bg0 alpha(@bg0-opaque, 0.75);
@define-color bg1-opaque #303030;
@define-color bg1 alpha(@bg1-opaque, 0.75);
@define-color fg0 #989898;
@define-color fg1 #ffffff;

@define-color green #44bc44;
@define-color green-alpha alpha(#44bc44, 0.75);
@define-color red #ff5f59;
@define-color red-alpha alpha(#ff5f59, 0.75);
@define-color cyan #00d3d0;
@define-color cyan-alpha alpha(#00d3d0, 0.75);
@define-color blue #2fafff;
@define-color blue-alpha alpha(#2fafff, 0.75);
@define-color yellow #d0bc00;
@define-color yellow-alpha alpha(#d0bc00, 0.75);

@define-color border @bg1;

* {
	font-family: Iosevka Nerd Font Propo;
	font-weight: bold;
	font-size: 14px;
}

window#waybar {
    all: unset;
}

tooltip {
	background: @bg0-opaque;
	border: 1px solid @border;
    border-radius: 0;
}

#submap,
#workspaces,
#tray,
#mpris,
#idle_inhibitor,
#privacy,
#gamemode,
#language,
#pulseaudio,
#bluetooth,
#network,
#clock,
#battery,
#cpu,
#memory {
    margin-top: 8px;
    margin-left: 8px;
    padding: 4px 8px;
    background: @bg0;
	border: 1px solid @border;
}

#memory {
    margin-right: 8px;
}

#submap {
    background: @cyan-alpha;
    color: @bg0-opaque;
}

#workspaces button {
	all: initial;
	min-width: 0;
	padding: 0px 6px;
	color: @fg0;
}

#workspaces button.active {
	color: @fg1;
}

#workspaces button.urgent {
	color: @red;
}

#tray menu {
    background: @bg0-opaque;
    border: 1px solid @border;
    color: @fg1;
    border-radius: 0;
}

#mpris {
    opacity: 0;
}

#mpris.playing {
    opacity: 1;
    color: @fg1;
}

#mpris.paused, #mpris.stopped {
    opacity: 1;
    color: @fg0;
}

#privacy {
    background: @red-alpha;
    color: @bg0-opaque;
}

#gamemode {
    padding: 4px 4px 4px 8px;
}

#idle_inhibitor.deactivated {
    color: @fg0;
}

#idle_inhibitor.activated {
    background: @yellow;
    color: @bg0-opaque;
}

#pulseaudio.bluetooth {
    color: @blue;
}

#pulseaudio.muted {
    color: @fg0;
}

#network.disabled {
    color: @fg0;
}

#network.disconnected {
    color: @red;
}
