layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/zjstatus.wasm" {
                format_left   "#[fg=colour2,bold]{session} #[fg=colour0]| {mode} "
                format_center "{tabs}"
                format_right  "{datetime}"
                format_space  ""

                mode_normal        "#[fg=colour8]{name}"
                mode_locked        "#[fg=colour9]{name}"
                mode_resize        "#[fg=colour9]{name}"
                mode_pane          "#[fg=colour2]{name}"
                mode_rename_pane   "#[fg=colour2]{name}"
                mode_tab           "#[fg=colour4]{name}"
                mode_rename_tab    "#[fg=colour4]{name}"
                mode_scroll        "#[fg=colour7]{name}"
                mode_enter_search  "#[fg=colour7]{name}"
                mode_search        "#[fg=colour7]{name}"
                mode_session       "#[fg=colour5]{name}"
                mode_move          "#[fg=colour9]{name}"
                mode_prompt        "#[fg=colour2]{name}"
                mode_tmux          "#[fg=colour3]{name}"

                mode_default_to_mode "tmux"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=colour8]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"
                hide_frame_except_for_search "true"
                hide_frame_except_for_fullscreen "true"
                hide_frame_except_for_scroll "true"

                tab_normal   "#[fg=colour8] {name} "
                tab_active   "#[fg=colour7,bold,italic] {name} "

                datetime        "#[fg=colour8,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Asia/Jerusalem"
            }
        }
    }
}
