* {{
    bg: rgba({background.rgb}, 0.95);
    bg-active: rgba({color8.rgb}, 0.95);
    fg-dim: {color6};
    fg: {color15};
    fg-active: {foreground};
    urgent: rgba({color1.rgb}, 0.95);
    active-selected: rgba({color8.rgb}, 0.5);
    normal-selected: rgba({color8.rgb}, 0.5);
    urgent-selected: rgba({color14.rgb}, 0.5);
    border: @bg-active;
}}
