@define-color window_bg_color {background};
@define-color accent_bg_color {color8};
@define-color theme_fg_color {foreground};
@define-color error_bg_color {color1};
@define-color error_fg_color {foreground};

* {{
  all: unset;
  font-family: BerkeleyMono Nerd Font Propo;
  font-size: 18px;
  border-radius: 0;
}}

popover {{
  background: @window_bg_color;
  border: 1px solid darker(@accent_bg_color);
  border-radius: 0;
  padding: 8px;
}}

scrollbar {{
  opacity: 0;
}}

.normal-icons {{
  -gtk-icon-size: 16px;
}}

.large-icons {{
  -gtk-icon-size: 20px;
}}

.box-wrapper {{
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: alpha(@window_bg_color, 0.85);
  padding: 8px;
  border-radius: 0;
  border: 2px solid @accent_bg_color;
}}

.preview-box,
.elephant-hint,
.placeholder,
.list {{
  color: @theme_fg_color;
}}

.input {{
  caret-color: @theme_fg_color;
  background: alpha(@accent_bg_color, 0.125);
  padding: 2px 4px;
  color: @theme_fg_color;
  border-radius: 0;
}}

.input placeholder {{
  opacity: 0.5;
}}

.input selection {{
  background: shade(@window_bg_color, 2.2);
}}

.item-box {{
  border-radius: 0;
  padding: 2px 4px;
}}

.item-subtext {{
  font-size: 14px;
  opacity: 0.55;
}}

.item-quick-activation {{
  background: transparent;
  border-radius: 0;
  font-size: 14px;
  padding: 1px 4px;
  opacity: 0.75;
}}

child:selected .item-box,
row:selected .item-box {{
  color: shade(@accent_bg_color, 2.2);
  background: alpha(@accent_bg_color, 0.35);
}}

.preview {{
  border: 1px solid alpha(@accent_bg_color, 0.25);
  border-radius: 0;
  color: @theme_fg_color;
}}

.keybinds {{
  padding-top: 4px;
  border-top: 1px solid lighter(@window_bg_color);
  font-size: 14px;
  color: @theme_fg_color;
}}

.keybind-label {{
  font-size: 14px;
}}

.keybind-bind {{
  font-size: 14px;
  opacity: 0.75;
}}

.keybind-button {{
  opacity: 0.75;
}}

.keybind-button:hover {{
  opacity: 1;
}}

.keybind-bind {{
  text-transform: lowercase;
  opacity: 0.5;
}}

.keybind-label {{
  padding: 1px 3px;
  border-radius: 0;
  border: 1px solid @theme_fg_color;
}}

.error {{
  padding: 2px 4px;
  background: @error_bg_color;
  color: @error_fg_color;
  border-radius: 0;
}}
