@define-color background alpha({background}, 0.9);
@define-color background-opaque {background};
@define-color foreground {foreground};
@define-color cursor {cursor};
@define-color border alpha({color7}, 0.9);
@define-color separator alpha({color7}, 0.9);

@define-color color0 {color0};
@define-color color1 {color1};
@define-color color2 {color2};
@define-color color3 {color3};
@define-color color4 {color4};
@define-color color5 {color5};
@define-color color6 {color6};
@define-color color7 {color7};
@define-color color8 {color8};
@define-color color9 {color9};
@define-color color10 {color10};
@define-color color11 {color11};
@define-color color12 {color12};
@define-color color13 {color13};
@define-color color14 {color14};
@define-color color15 {color15};

* {{
  font-family: BerkeleyMono Nerd Font Propo;
  font-size: 16px;
  font-style: oblique;
}}

window#waybar {{
  background: @background;
  color: @color15;
}}

tooltip {{
  background: @background-opaque;
  border: 1px solid @border;
  border-radius: 0;
  padding: 0px;
}}

.modules-right {{
  padding: 4px 16px;
}}

#workspaces,
#tray {{
  padding: 4px 8px;
}}

#mpris {{
  padding: 4px 16px;
}}

#pulseaudio,
#bluetooth,
#network,
#clock,
#hardware {{
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid @separator;
}}

#custom-recording,
#privacy,
#gamemode {{
  margin-right: 12px;
  padding: 0 8px;
}}

#workspaces button {{
  all: unset;
  min-width: 0;
  margin-left: 8px;
  margin-right: 8px;
  color: @color7;
}}

#workspaces button.active {{
  color: @color15;
  font-weight: bold;
}}

#workspaces button.urgent {{
  color: @color14;
}}

#tray menu {{
  background: @background-opaque;
  border: 1px solid @border;
  color: @color15;
  border-radius: 0;
}}

#mpris {{
  opacity: 0;
}}

#mpris.playing {{
  opacity: 1;
  color: @color15;
}}

#mpris.paused,
#mpris.stopped {{
  opacity: 1;
  color: @color7;
}}

#custom-recording,
#privacy {{
  border: 1px solid @color13;
  color: @color13;
}}

#pulseaudio.bluetooth {{
  color: @color2;
}}

#pulseaudio.muted {{
  color: @color8;
}}

#network.disabled {{
  color: @color8;
}}

#network.disconnected {{
  color: @color14;
}}

#battery,
#cpu,
#memory {{
  margin-right: 8px;
}}

#temperature.critical {{
  color: @color14;
}}

#battery.charging {{
  color: @color11;
}}

#battery.warning {{
  color: @color13;
}}

#battery.critical {{
  color: @color14;
}}
