(
    max_notifications: 10,
    timeout: 10000,
    poll_interval: 8,
    shortcuts: (
        notification_interact: 2,
        notification_close: 1,
        notification_closeall: 3,
    ),
    history_length: 100,
    replacing_resets_timeout: true,
    min_window_width: 280,
    layout_blocks: [
        (
            name: "root",
            parent: "",
            hook: (parent_anchor: TR, self_anchor: TR),
            offset: (x: -8, y: 44),
            params: NotificationBlock((
                monitor: 0,
                border_width: 2.0,
                border_rounding: 0.0,
                gap: (x: 0.0, y: 8.0),
                background_color: (hex: "{background}"),
                border_color: (hex: "{color4}"),
                border_color_low: (hex: "{color3}"),
                border_color_critical: (hex: "{color7}"),
                notification_hook: (parent_anchor: BR, self_anchor: TR),
            )),
        ),
        (
            name: "summary",
            parent: "root",
            offset: (x: 0, y: 0),
            hook: (parent_anchor: MR, self_anchor: MR),
            params: TextBlock((
                text: "%s",
                padding: (left: 8.0, right: 8.0, top: 8.0, bottom: 0.0),
                font: "Iosevka Nerd Font Propo Black 10",
                color: Color(hex: "{foreground}"),
                dimensions: (
                    width: (min: 280, max: 280),
                    height: (min: 0, max: 300),
                ),
                dimensions_image_hint: (
                    width: (min: 224, max: 224),
                    height: (min: 0, max: 300),
                ),
            )),
        ),
        (
            name: "image",
            parent: "summary",
            hook: (parent_anchor: TL, self_anchor: TR),
            offset: (x: 0, y: 0),
            render_criteria: [ HintImage ],
            params: ImageBlock((
                image_type: Hint,
                padding: (left: 8.0, right: 2.0, top: 8.0, bottom: 8.0),
                rounding: 0.0,
                scale_width: 40,
                scale_height: 40,
                filter_mode: Lanczos3,
            )),
        ),
        (
            name: "body",
            parent: "summary",
            offset: (x: 0, y: 0),
            hook: (parent_anchor: BR, self_anchor: TR),
            render_criteria: [ Body ],
            render_anti_criteria: [ AppName("progress") ],
            params: ScrollingTextBlock((
                text: "%b",
                padding: (left: 8.0, right: 8.0, top: 6.0, bottom: 8.0),
                font: "Iosevka Nerd Font Propo 10",
                color: (hex: "{foreground}"),
                scroll_speed: 0.1,
                lhs_dist: 24.0,
                rhs_dist: 24.0,
                scroll_t: 1.0,
                width: (min: 280, max: 280),
                width_image_hint: (min: 224, max: 224),
            )),
        ),
        (
            name: "progress",
            parent: "body",
            offset: (x: 0, y: 0),
            hook: (parent_anchor: BR, self_anchor: TR),
            render_criteria: [ Progress ],
            render_anti_criteria: [ Body ],
            params: ProgressBlock((
                padding: (left: 8.0, right: 8.0, top: 8.0, bottom: 8.0),
                border_width: 0.0,
                border_rounding: 0.0,
                fill_rounding: 0.0,
                border_color: (hex: "{background}"),
                background_color: (hex: "{color4}"),
                fill_color: (hex: "{color15}"),
                width: 280.0,
                height: 4.0,
            )),
        ),
        (
            name: "progress_muted",
            parent: "body",
            offset: (x: 0, y: 0),
            hook: (parent_anchor: BR, self_anchor: TR),
            render_criteria: [ And([Progress, Body]) ],
            params: ProgressBlock((
                padding: (left: 8.0, right: 8.0, top: 8.0, bottom: 8.0),
                border_width: 0.0,
                border_rounding: 0.0,
                fill_rounding: 0.0,
                border_color: (hex: "{background}"),
                background_color: (hex: "{color4}"),
                fill_color: (hex: "{color13}"),
                width: 280.0,
                height: 4.0,
            )),
        ),
    ],
)
