[Unit]
Description=Volume Notifications Daemon
Documentation=man:pactl(1)
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/dotfiles/bin/ron-volume-notify
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
