* {
	font-family: Iosevka Term Nerd Font;
	font-size: 14px;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.container {
	background: rgba(0, 0, 0, 0.8);
}

.workspaces .item {
	background: transparent;
	color: #989898;
	padding: 2px 4px;
}

.workspaces .item.focused {
	color: #ffffff;
}

.tray {
	margin-left: 8px;
	margin-right: 8px;
}

.label {
	color: #00d3d0;
}
