* {
    bg: #%% background.hex alpha=0.75 %%;
    bg-active: #%% color2.hex alpha=0.75 %%;
    fg-dim: #%% color6.hex %%;
    fg: #%% color7.hex %%;
    fg-active: #%% foreground.hex %%;
    urgent: #%% color1.hex alpha=0.75 %%;
    active-selected: #%% color1.hex alpha=0.75 %%;
    normal-selected: #%% color2.hex alpha=0.75 %%;
    urgent-selected: #%% color3.hex alpha=0.75 %%;
    border: @bg-active;
}
